#film-detail {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 32px;

  @include tablet {
    align-items: center;
    padding-top: 15px;
  }

  .film-data {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  
    @include tablet {
      flex-direction: row;
    }
  
    .left {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
  
      @include tablet {
        width: 50%;
      }
    }
  
    .right {
      @include tablet {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  
    .film-cover {
      align-self: center;
    }
  
    .film-title {
      font-family: 'DM Sans', sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
      margin: 20px 0;
    }
  
    p {
      margin: 5px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  
    .icon {
      color: $theme-black;
      font-size: 21px;
      margin-right: 5px;
    }
  
    strong {
      font-weight: bold;
    }
  }

  .link-back {
    text-decoration: none;
    color: $theme-black;
    margin: 32px 0 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .icon-back {
      color: $theme-black;
      font-size: 21px;
    }
  }
}