#header {  
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: $theme-gray;

  .header-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 240px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    .header-logo {
      font-size: 30px;
      color: $theme-black;
    }

    .header-title {
      font-family: 'DM Sans', sans-serif;
      text-transform: uppercase;
    }
  }
}