@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-black;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $theme-white;
}