#films {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center; 
  padding: 32px 10px;

  @include tablet {
    padding: 32px;
  }

  @include desktop-large {
    justify-content: flex-start;
  }

  .films-search {
    margin-bottom: 32px;
    width: 100%;

    @include desktop {
      max-width: 1200px;
    }
  }

  .film-link {
    width: 100%;
    margin-bottom: 30px; 
    text-decoration: none;
    color: $theme-black;

    @include tablet {
      max-width: 330px;
      margin-right: 25px;
      margin-bottom: 15px;
    }

    @include desktop {
      max-width: 380px;
    }
  }
}