.film-item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 25px;

  .left {
    display: flex;
    justify-content: flex-end;

    @include phone {
      width: 50%;
    }

    @include tablet {
      width: auto;
    }
  }
  .right {
    width: 50%;

    @include tablet {
      width: 100%;
    }

    @include desktop-large {
      width: 50%;
    }
  }

  @include tablet {
    margin-bottom: 0;
  }

  .text {
    padding-left: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    height: 270px;

    @include tablet {
      width: 100%;
      background-color: $theme-gray;
    }

    .film-title {
      font-weight: bold;
      font-size: 16px;
      font-family: 'DM Sans', sans-serif;
      text-transform: uppercase;
      margin: 15px 0 35px;
    }

    .film-rating {
      margin-bottom: 10px;
    }
  }
}